<!-- start custom head snippets -->
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" title="Kristian Want, Ph.D.">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg">
<link rel="manifest" href="/assets/images/favicon/site.webmanifest">

{% include custom-schema.html %}

<!-- end custom head snippets -->