<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Kristian Want",
      "givenName": "Kristian",
      "familyName": "Want",
      "url": "https://kristianwant.com/",
      "image": "https://kristianwant.com/assets/images/bio_photo.jpg",
      "jobTitle": "Postdoctoral Researcher",
      "description": "Postdoctoral researcher in biochemistry and structural biology at Brandeis University.",
      "affiliation": {
        "@type": "Organization",
        "name": "Brandeis University",
        "url": "https://www.brandeis.edu/"
      },
      "alumniOf": [
        {
          "@type": "Organization",
          "name": "University Paris-Saclay"
        },
        {
          "@type": "Organization",
          "name": "University of Leeds"
        }
      ],
      "knowsAbout": ["Biochemistry", "Structural Biology", "Genetics", "Fe-S clusters", "Mitochondrial disease", "Friedreich's Ataxia"],
      "email": "want@brandeis.edu",
      "sameAs": [
        "https://scholar.google.com/citations?user=zf1WsVwAAAAJ&hl=en",
        "https://orcid.org/0000-0001-7590-0896",
        "https://www.linkedin.com/in/kristianwant/",
        "https://www.researchgate.net/profile/Kristian-Want",
        "https://loop.frontiersin.org/people/1625214/overview",
        "https://communities.springernature.com/users/kristian-want"
      ]
    }
</script>